/*
html {
  position: relative;
  min-height: 100%;
}

.navbar-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;

  z-index: 1030; 
}
*/

#slide2 {
  margin-top: 50px;
}

.gridster ul {
    background-color: #EFEFEF;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}


.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #DDD;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

.footer {
	height: 60px;
	bottom: 0;
	background-color: #EFEFEF;
	color: #999;
}

.footer p {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Fix Google Maps canvas
 *
 * Wrap your Google Maps embed in a `.google-map-canvas` to reset Bootstrap's
 * global `box-sizing` changes. You may optionally need to reset the `max-width`
 * on images in case you've applied that anywhere else. (That shouldn't be as
 * necessary with Bootstrap 3 though as that behavior is relegated to the
 * `.img-responsive` class.)
 */

.google-map-canvas, .google-map-canvas * { 
/*	.box-sizing(content-box);*/
	width: 330px;
	height: 450px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Optional responsive image override */
/*img { max-width: none; }*/